.TreeBox {
  background-color: white;
  height: calc(100% - 32px);
  width: 40vh;
  border-radius: 2rem;
  padding: 1rem;
}

@font-face {
  font-family: Vazirmatn;
  src: url('src\\assets\\Fonts\\Vazirmatn-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

.css-53rj3a-MuiTreeItem-content .MuiTreeItem-label{
  font-family: 'Vazirmatn', sans-serif !important;
}
